.container {
  /* 自定义一个容器 */
  display: flex; /*横向排列卡片*/
  gap: 20px; /*卡片之间有间隔*/
  justify-content: center; /*居中对齐*/
}

body {
  background-image: url(pic/ocean.jpg);
  background-size: cover; /* 图片覆盖整个页面 */
  background-position: center; /* 图片居中对齐 */
  background-repeat: no-repeat; /* 防止图片重复 */
  background-color: #f5e7d0; /* 旧书页米黄色 */

  background-blend-mode: multiply; /* 混合纹理 */
  font-family: "Bebas Neue", "Impact", "思源黑体", sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #f2f3f4;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  text-align: center;
  padding: 20px;
}

.card img {
  width: 95%;
  border-radius: 20px;
}

.card h2 {
  color: rgb(25, 9, 9);
  margin: 10px 0;
  font-weight: 900;
}
/*名言*/
.card p {
  font-family: "Georgia", "Times New Roman", serif; /* 更具文学感的字体 */
  color: #5f0909d7; /* 深红色，增加名言的情感冲击 */
  font-size: 18px; /* 略小于其他文本，突出名言 */
  line-height: 1.6; /* 行间距适中，增强可读性 */
  font-style: inherit; /* 斜体，给名言增加艺术感 */
  text-align: center; /* 居中对齐，使名言更显眼 */
  padding: 20px; /* 为名言增加内边距，避免文本太紧密 */
  border-left: 4px solid #bf1d1d; /* 左侧加一个小的红色边框，增加强调感 */
  margin: 20px 0; /* 上下间距，避免与其他内容紧密 */
}
.card:hover {
  transform: scale(1.05);
}
.topblock {
  display: flex; /*横向排列卡片*/
  justify-content: center;
  align-items: flex-start;
}
.h1 {
  color: #5f0f40;
  height: 100px;
  display: flex;
  justify-content: start;
  align-content: start;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.toprightnavibar {
  font-size: 28px;
  /* 去掉链接的下划线 */
}

.toprightnavibar a {
  color: gold;
  text-decoration: none;
}
